<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                『새로운 궁금증을 풀어나가는 신입 게임 클라이언트 개발자』
            </p>
            <p class="paragraph-text justify-text">
                안녕하세요. 신입 게임 클라이언트 개발자가 되고 싶은 임호현입니다. 처음 프로그래밍을 접한 것은 전 직장 연구소에서 c언어를 처음 사용하였습니다. 
                다양한 코드들이 하나로 합쳐져 프로그램이 실행되고 기계가 동작하는 모습을 보고 우리 생활에 다양한 곳에 프로그래밍이 있는 것을 처음 알게 되었고 매력을 느끼게 되었습니다.
                게임 클라이언트 개발자로 결정하게 된 이유는 현재까지도 게임을 정말 즐겨 하고 다양한 컨텐츠를 보면서 어떻게 구현되었는지 궁금증이 생기게 되었습니다.
                내가 플레이하는 캐릭터의 스킬, 공격, 움직임과 몬스터의 랜덤 한 공격 패턴, 플레이어 탐지 등 어떻게 프로그래밍으로 구현된 것인지 직접 구현을 해보며 매력을 더욱 느끼게 되었습니다.
                게임을 개발하여 많은 플레이어들이 잠시나마 좋은 휴식처라는 공간을 구현해 주고 싶습니다.
                그래서 작년 회사를 퇴사하여 1년만에 학점은행제로 컴퓨터공학 학사를 졸업하여 현재까지 게임 개발을 공부하고 있습니다.
                앞으로 유니티, 언리얼, DirectX, 게임 서버 등 게임 관련 다양한 개발을 배워가려고 합니다.

            </p>
            <p class="paragraph-text justify-text">
                1가지에 전문적인 것도 중요하지만 프로그래밍은 새로운 변화에 도전하고 습득하는 것이 중요하다고 생각합니다.
            </p>
        </div>
    </section>
</div>
